@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.split-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: none; /* Permet de cliquer à travers */
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    mix-blend-mode: exclusion;
  }
  
  .split-text {
    font-size: 5vw; /* Taille responsive */
    font-weight: bold;
    color: black;
    text-align: center;
    width: 80%;
    max-width: 1200px;
    line-height: 1.2;
    color: white;

  }
  
  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    filter: blur(10px);
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease;
  }
  
  .letter.animate {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
  
  /* Animation pour les espaces */
  .letter:empty {
    width: 0.5em;
  }